.footer__container {
  margin-left: 150px;
  margin-bottom: 100px;
}

.footer__countdown {
  padding: 20px;
}

.footer__score {
  font-size: x-large;
  margin-left: 50px;
}

.next {
  margin-left: 35px;
  color: black;
}
