.footer__container {
  margin-bottom: 100%;
}

.footer {
  margin-left: 120px;
}

.footer__answer {
  padding-bottom: 20px;
  margin-left: 65px;
}

.footer__score {
  font-size: x-large;
  margin-left: 175px;
  padding-top: 10px;
}

.footer__next {
  margin-left: 150px;
  margin-top: 10px;
  color: black;
  border: 2px white solid;
  padding: 10px;
  border-radius: 10px;
}

.footer__countdown {
  margin-left: 110px;
  padding-top: 20px;
}

@media screen and (min-width: 425px) {
  .footer__container {
    margin-left: 25px;
  }
}

@media screen and (min-width: 768px) {
  .footer__container {
    margin-left: 200px;
  }
  .footer {
    margin-left: 125px;
  }
}
@media screen and (min-width: 1024px) {
  .footer__container {
    margin-left: 320px;
  }
}

@media screen and (min-width: 1440px) {
  .footer__container {
    margin-left: 650px;
  }
}
