* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: black;
  font-family: "Inter", sans-serif;
  font-family: "Lora", serif;
  font-family: "REM", sans-serif;
  background-color: azure;
}

.navbar {
  display: flex;
  justify-content: center;
}

.quiz {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 100px;

  &__container {
    height: 100%;
    width: 100%;
  }

  &__question {
    text-align: center;
  }
}

.answers_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.answers__buttons {
  justify-content: space-between;
  border-radius: 5px;
  background-color: orange;
  padding: 40px;
  border: white solid 2px;
  transition-duration: 0.4s;
}

.answers__buttons:hover {
  color: white;
}

.correct {
  background-color: green;
}

.incorrect {
  background-color: red;
}
